link(rel="stylesheet", href="css/main.css")
link(defer href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Noto+Sans+JP:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;700;900&display=swap', rel='stylesheet')

script(defer src="js/jquery-3.5.1.min.js")
script(defer src="js/main-min.js")

link(rel='apple-touch-icon', sizes='180x180', href='./apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='./favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='./favicon-16x16.png')
link(rel='manifest', href='./site.webmanifest')
