meta(name='description' content='Mario Yonan - A frontend developer / designer with passion to create exceptional websites using modern technologies and out of the box ideas.')
link(rel="stylesheet", href="dist/css/main.css")
link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;700;900&display=swap', rel='stylesheet')

link(rel='apple-touch-icon', sizes='180x180', href='./dist/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='./dist/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='./dist/favicon-16x16.png')
link(rel='manifest', href='./dist/site.webmanifest')
