@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 960px;
  @media screen and (max-width: 600px) {
    padding: 0;
  }
}
body {
  overflow-x: hidden;
}

@import "sass/components/navbar";
// hero intro


@import "sass/components/footer";


@import "sass/components/animations";
