nav {
  position: sticky;
  top: 0;
  // margin-top: 20px;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  @media screen and(max-width: 600px) {
    top: -50px;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    @media screen and(max-width: 600px) {
      // flex-direction: column;
      display: block;
      text-align: center;
    }
  }

  .logo {
    a {
      letter-spacing: 3px;
      color: #333;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
    }
    @media screen and(max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}
.nav-list {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    text-transform: capitalize;
    &:not(:first-of-type) {
      margin-left: 30px;
    }

    a {
      color: #666;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 1.1rem;
      font-weight: 200;
      transition: all .3s ease-in-out;

      &:hover{
        color: #000;
      }
      &.active {
        color: #000;
        font-weight: 500;
        border-bottom: 2px solid #000;
      }
      @media screen and (max-width: 600px) {
        font-weight: 500;
      }
    }
  }
}
