nav {
  position: sticky;
  top: 0;
  opacity: 0.95;
  // margin-top: 20px;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  @media screen and(max-width: 600px) {
    top: -50px;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    @media screen and(max-width: 600px) {
      // flex-direction: column;
      display: block;
      text-align: center;
    }
  }

  .logo {
    a {
      letter-spacing: 3px;
      color: #14213d;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      transition: all 0.3s ease-in-out;
      padding: 22px;
      display: inline;
      // border-radius: 10px;
      @media screen and(max-width: 600px) {
        padding: 10px;
        border-radius: 3px;
        // display: block;
      }

      @media screen and(min-width: 600px) { // this one is min NOT max
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

    }
    @media screen and(max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}
.nav-list {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    text-transform: capitalize;
    &:not(:first-of-type) {
      margin-left: 30px;
    }

    a {
      color: #666;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 1.1rem;
      font-weight: 200;
      position: relative;
      transition: border-left 0.1s ease-in-out;
      padding-left: 5px;
      border-left: 3px solid transparent;

      &:hover {
        color: #000;
      }
      &.active {
        color: #0e182d;
        font-weight: 500;
        border-left: 3px solid #14213d;
        border-left-width: thick;
      }
      @media screen and (max-width: 600px) {
        font-weight: 500;
      }
    }
  }
}
