footer
  .container.footer-wrapper
    .cp
      p &copy;2020 
        span Mario Yonan
    .social
      a(href="https://www.upwork.com/freelancers/~016e92d973c579f18b")
        i.fas.fa-envelope.fa-lg
      //- a(href="https://github.com/mario130")
        i.fab.fa-github.fa-lg
