footer
  .container.footer-wrapper
    .cp
      p &copy;2020 
        span Mario Yonan
    .social
      a(href="mailto:mario.yonan.work@gmail.com")
        i.fas.fa-envelope.fa-lg
      a(href="https://github.com/mario130")
        i.fab.fa-github.fa-lg
