nav
  .nav-wrapper
    .logo
      a(href="/index.html") Mario Yonan
    ul.nav-list
      li
        a(href="/index.html" data-indicator="Mario Yonan - Works") works
      li 
        a(href="/Portfolio/about.html" data-indicator="Mario Yonan - About") about
      //- li 
      //-   a(href="#" data-indicator="Contact") contact
