nav
  .nav-wrapper.fade-down
    .logo
      a(href="homepage.html") Mario Yonan
    ul.nav-list
      li
        a(href="homepage.html" data-indicator="Home") work
      li 
        a(href="about.html" data-indicator="About") about
      //- li 
      //-   a(href="#" data-indicator="Contact") contact
